{
    "extends": [
        "wikimedia/client",
        "wikimedia/jquery",
        "wikimedia/mediawiki",
        "wikimedia/language/es6"
    ],
    "env": {
        "node": true
    },
    "globals": {
        "mw": "readonly",
        "OO": "readonly",
        "chrome": "readonly",
        "browser": "readonly",
        "moment": "readonly"
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "arrow-parens": [ "error", "as-needed" ],
        "require-jsdoc": [ "error", {
            "require": {
                "FunctionDeclaration": true,
                "MethodDefinition": true,
                "ClassDeclaration": true,
                "ArrowFunctionExpression": true,
                "FunctionExpression": true
            }
        } ]
    }
}
