{
    "extends": "wikimedia",
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "globals": {
        "$": false,
        "mw": false,
        "OO": false,
        "chrome": false,
        "browser": false,
        "moment": false
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "arrow-parens": [ "error", "as-needed" ]
    }
}
