{
    "extends": "wikimedia",
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "globals": {
        "$": false,
        "extwrt": false,
        "OO": false,
        "chrome": false
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
